.Firstpage {
  height: 102vh;
}

.Navbarsize {
  padding: 20px;
}

.App-logobig {
  height: 100px;
  justify-content: center;
}

.App-bg {
  margin: 0;
  position: absolute;
  background-image: url(./../assets/medical-wallpaper.jpg);
  opacity: 0.95;
  width: 100%;
  height: 400px;
  top: 58%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  padding-top: 40px;
  color: white;
}

.App-title {
  font-size: 1.6em;
}

.Appheaderfp {
  margin: 0;
  position: absolute;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.75); /* Black background with 0.5 opacity */
  height: 200px;
  color: #f1f1f1;
  width: 100%;
  top: 58%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Arrow {
  margin: 0;
  position: absolute;
  height: 40px;
  width: 150px;
  top: 1%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.Arrow:hover {
  opacity: 0.5;
}

.App-footer {
  margin: 0;
  position: absolute;
  background-color: white;
  height: 60px;
  width: 100%;
  top: 97.6%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Apptitlefp {
  margin: 0;
  position: relative;
  text-align: center;
  font-size: 2.5em;
  font-weight: 450;
  font-family: Josefin Sans;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Secondpage {
  height: 200vh;
  background-color: pink;
  font-color: black;
  font-size: 2.5em;
  font-weight: 450;
}

.container {
  width: auto;
  margin: 0 auto;
  padding-left: 20%;
  font-size: 1.5em;
}

.chooseFileUpload {
  padding-left: 20%;
  font-size: 0.5em;
}

.uploadSubmit {
  padding: 30%;
}

.wrapper {
  display: flex;
  padding: 100px;
}

.convertedText {
  border: 1px solid black;
  width: 50%;
  height: 400px;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
}

.categorizedText {
  border: 1px solid black;
  width: 50%;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
}
