.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.86);
}

.modal-area {
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  padding: 4.5em 2.4em 4.5em 2.4em;
  background: rgb(0, 102, 102); /* Fallback color */
  background: rgba(0, 102, 102, 0.7); /* Black background with 0.5     opacity */

border-radius: 6px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  
}

#inputPopUp{
border-radius: 6px;
border: 2px solid #32cd32;
font-family: Josefin Sans;
font-size: 1.2em;
background-color: #003652;
color: white;
}

#selectPopUp{
border-radius: 6px;
border: 2px solid #32cd32;
font-family: Josefin Sans;
font-size: 1.2em;
background-color: #003652;
color: white;
}

#calltopopup{
font-size: 0.45em;
background-color: #e6faff;
border: 2px solid #32cd32;
font-family: Josefin Sans;
color:black;
border-radius: 5px;
position:absolute;
left:5%;
top:269%;
height:5.7%;
width:90%;

}

#calltopopup:hover{
background-color:#32cd32;
color:white;
}

#buttonPopUp{
background-color: white;
font-family: Josefin Sans;
font-size: 1.2em;
border-radius: 6px;
border: 2px solid #32cd32;
color: black;
}

#buttonPopUp:hover {
background-color: #32cd32;
color: white;
}


._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: transparent;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}



@media only screen and (min-width:760px) {
  /* Center the Modal! */
 

.modal-area {
  position: fixed;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 60%;
 
  
}

#calltopopup{
font-size: 0.45em;
background-color: #e6faff;
border: 2px solid #32cd32;
font-family: Josefin Sans;
color:black;
border-radius: 5px;
position:absolute;
left:52%;
top:193.6%;
height:5.7%;
width:45%;

}

}

@media only screen and (min-width:1000px) {
  /* Center the Modal! */
 

.modal-area {
  position: fixed;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 60%;
 
  
}

#calltopopup{
font-size: 0.45em;
background-color: #e6faff;
border: 2px solid #32cd32;
font-family: Josefin Sans;
color:black;
border-radius: 5px;
position:absolute;
left:52%;
top:193.6%;
height:5.7%;
width:45%;

}

}
