/* --------------------------------------------------------
Style Sheet for P5VoiceToText

version: 1.0
author: Yuti Desai
email: yrdesai@asu.edu
----------------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  
}
